


/* - CARROSEL - */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 340px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  padding: 16px;
  margin-top: 20px;
  color: rgb(10, 10, 10);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  /*right: 370;*/
  right: 20%;
  border-radius: 3px 0 0 3px;
}

.prev {
  /*left: 390;*/
  left: 20%;
  border-radius: 3px 0 0 3px;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}






/* ---------  CABEÇALHO - MENU DE OPCOES HORIZONTAL  ---------- */
/* Add a black background color to the top navigation */
.topnav {
  border-radius: 10px;
    background-color: #e6682e;
    /*background-color:  #b469eb;*/
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(224, 150, 150, 1);
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    /*background-color: #e6682e;*/
    background-color:  #b469eb;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

.maps {
    text-align: 'Center';
    color: black;
    font-size: 15px;
    bottom:0;
    width:100%;
    height: 60%;
}

.maps2 {
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    color: rgb(255, 255, 255) !important;
    font-family: gothambook;
    text-align: center;
    top: 50px !important;
    width:100%;
    height: 70%;
    /*width: 150px !important;*/
}

.marcar1 {
    color: #f1420c;
}


  /* --------------  RODAPE ------------  */

.rodape {
    /*position:absolute;*/
    /*border-radius: 10px;*/
    background-color: #e6682e;
    font-size: 12px;
    color: white;
    bottom:0;
    width:100%;
    float: left;
    display: block;
    text-align: center;
}

