

/* ---------  CABEÇALHO - MENU DE OPCOES HORIZONTAL  ---------- */
/* Add a black background color to the top navigation */
.topnav {
  border-radius: 10px;
    background-color: #e6682e;
    /*background-color:  #b469eb;*/
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(224, 150, 150, 1);
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    /*background-color: #e6682e;*/
    background-color:  #b469eb;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

.maps {
    text-align: 'Center';
    color: black;
    font-size: 15px;
    bottom:0;
    width:99.5%;
    height: 60%;
}

.maps2 {
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    color: rgb(255, 255, 255) !important;
    font-family: gothambook;
    text-align: center;
    top: 50px !important;
    width:99.5%;
    height: 70%;
    /*width: 150px !important;*/
}

.marcar1 {
    color: #f1420c;
}


  /* --------------  RODAPE ------------  */

.rodape {
    /*position:absolute;*/
    border-radius: 10px;
    background-color: #e6682e;
    font-size: 12px;
    color: white;
    bottom:0;
    width:99.5%;
    float: left;
    display: block;
    text-align: center;
}


.c-carousel {
  margin-bottom: --global-module-size;
  max-width: rem(600);
}

.c-carousel__slides {
  border: rem(2) solid #a89cc8;
}

.c-carousel__slide {
  align-items: center;
  border: rem(1) solid #a89cc8;
  color: var(--color-webfatorial-gray2);
  display: flex;
  font-size: 200%;
  justify-content: center;
  padding: rem(50) 0;
}

:not(:first-child){
  border-left: rem(1) solid #a89cc8;
}




 